.root {
  display: flex;
  margin: 25px;

  @media (max-width: 745px) {
    flex-direction: column;
  }

  @media (max-width: 475px) {
    margin: 0px;
    align-items: center;
  }

  .item {
    background-color: rgb(221, 221, 221);
    width: 650px;
    height: 750px;

    @media (max-width: 1600px) {
      width: 650px;
      height: 650px;
    }

    @media (max-width: 1400px) {
      width: 750px;
      height: 650px;
    }

    @media (max-width: 1200px) {
      width: 850px;
      height: 550px;
    }

    @media (max-width: 963px) {
      width: 1050px;
      height: 550px;
    }

    @media (max-width: 745px) {
      width: 550px;
      height: 700px;
      margin-bottom: 15px;
    }

    @media (max-width: 581px) {
      width: 450px;
      height: 600px;
      margin-bottom: 15px;
    }

    @media (max-width: 449px) {
      width: 320px;
      height: 500px;
      margin-bottom: 15px;
    }

    img {
      padding: 25px;
      height: 100%;
      width: 100%;
    }
  }
  .block {
    margin-left: 25px;
    .author {
      font-style: italic;
      font-size: 26px;
    }
    .desc {
      max-width: 1000px;
      margin-top: 30px;
      font-size: 20px;
    }
    .title {
      font-size: 26px;
      font-weight: 700;
    }
  }
}
