* {
  padding: 0;
  margin: 0;
  border: 0;

  html,
  body {
    font-family: "Nunito";
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 15px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: auto;
  }

  button {
    cursor: pointer;
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  a {
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    text-decoration: none;
  }

  ul li {
    list-style: none;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 11px;
  box-sizing: border-box;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.root {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 40px;
}
